<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express DB App</title>
    <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>

    <%- include('partials/header') %>
    
    <main class="main-content">
        
        <h1>You are logged as:</h1>

        <div class="user-content" >

            <h1><%= user.name %></h1>
            <h1><%= user.email %></h1>

        </div>

        <a href="/logout" class="logout-btn" >Logout</a>

    </main>

</body>
</html>