

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #112;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #225;
    text-align: center;
    font-size: 1.5rem;

    padding: 16px 0;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    padding: 20px 0;
}

.logout-btn {
    display: block;

    background-color: #225;
    color: #fff;

    text-decoration: none;
    font-weight: bold;

    border: 1px solid #112;
    border-radius: 8px;
    padding: 8px 12px;

    box-shadow: 0px 0px 3px #000000aa;

    &:hover {
        filter: brightness(0.8)
    };

    &:active {
        box-shadow: 0px 0px 5px #000000aa inset;
        filter: brightness(0.7)
    };
}

.user-content {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    background-color: #225;

    padding: 20px;
    border-radius: 12px;

    & h1 {
        font-size: 1.5rem;
    }
}
